{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <!--
  <div class="form-group">
    <select id="clients" class="form-control" data-bind="options: clients,
                       optionsText: 'name',
                       optionsValue: 'id',
                       optionsCaption: 'Choose Client...'"></select>
  </div>
  <div class="form-group">
    <select id="productAreas" class="form-control" data-bind="options: productAreas,
                       optionsText: 'name',
                       optionsValue: 'id',
                       optionsCaption: 'Choose Product Area...'"></select>
  </div>
  -->
  <h1>Feature Requests</h1>
  <button type="button" class="btn btn-primary">Create New Feature Request</button>
  <p></p>
  <div data-bind="foreach: featureRequests">
    <div>
      <div data-bind="text: title"></div>
      <div>
        <button type="button" class="btn btn-secondary" data-bind="click: function(){$parent.selectedFeatureRequest($data);}">Edit</button>
        <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteFeatureRequest">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-bind="modal: selectedFeatureRequest">
  <div class="modal-dialog" role="document" data-bind="with: selectedFeatureRequest">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel" data-bind="text: title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
